@use "../../../../../config/base.module" as *;

.container {
  height: 100dvh;
  width: 100vw;
  overflow-y: hidden;
  background-color: #fbfbfb;

  .stats_wrapper,
  .table_wrapper {
    margin-top: 40px;
  }

  .pagination_wrapper {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
    align-items: center;
    height: 30px;
  }

  .content_container {
    display: flex;

    margin-top: 100px;
    height: calc(100dvh - 100px);
  }

  .menu_toggle {
    position: fixed;
    right: 0;
    width: 50px;
    height: 50px;
    background-color: transparent;
    bottom: 30px;
    color: $typography-header-color;
  }

  .sidebar_container {
    height: 100%;
    position: relative;
    z-index: 2;
  }

  .toggle {
    transform: translateX(-100%);
  }

  .content_area,
  .sidebar_container {
    overflow-y: scroll;
    scrollbar-width: none;
  }

  .content_area {
    width: 100%;
    padding: 30px 30px 60px 30px;
  }
}

@media (min-width: 1024px) {
  .container {
    .sidebar_container {
      display: block;
      transform: none;
    }

    .menu_toggle {
      display: none;
    }

    .content_area {
      width: calc(100% - $sidebar-width);
      margin-left: $sidebar-width;
    }
  }
}
