.title {
  font-weight: 500;
  color: #213f7d;
  font-size: 24px;
}

.stats_container {
  margin-top: 40px;
}

.columnWrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}

.dots {
  width: fit-content;
  height: fit-content;
  min-height: fit-content;
  min-width: fit-content;
  background-color: transparent;
}
