.dropdown {
  position: relative;

  &_trigger_container {
    height: 30px;
    .trigger {
      width: fit-content;
      height: fit-content;
      min-height: fit-content;
      min-width: fit-content;
      background-color: transparent;
      cursor: pointer;
    }
  }

  &_content_container {
    min-height: 130px;
    min-width: 180px;
    border-radius: 4px;
    box-shadow: 3px 5px 20px 0px #0000000a;
    position: absolute;
    right: -40px;
    top: 40px !important;
    background-color: white;
    z-index: 2;
    padding: 0 20px 0px 20px;
  }
  &_action_btn {
    width: 100%;
    background-color: transparent;
    color: #545f7d !important;
    text-align: left;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    height: 20px;
    margin-top: 15px;
  }

  &_action_content {
    display: flex;
    align-items: center;
    gap: 10px;
  }
}
