.input_label {
  display: flex;
  position: relative;
  flex-direction: column;
  gap: 3px;
  font-weight: 500;

  input {
    height: 50px;
    border-radius: 5px;
    border: 1px solid #545f7d26;
    outline: none;
    padding: 0 10px 0 10px;
    font-family: var(--avenir);

    &:focus {
      outline: none;
      border: 1px solid #39cdcc;
    }

    &:invalid {
      border: 1px solid red;
    }
    &::placeholder {
      font-size: 14px;
      color: #545f7d;
    }
  }

  .input_error {
    color: red;
    position: absolute;
    top: 68px;
    bottom: 0px;
  }
}
