.input_label {
  display: flex;
  position: relative;
  flex-direction: column;
  gap: 3px;
  font-weight: 500;

  // h-[46px] rounded-[10px] border outline-none focus:outline-none px-3
  input {
    height: 50px;
    border-radius: 5px;
    border: 1px solid #545f7d26;
    outline: none;
    padding: 0 10px 0 10px;
    

    &:focus {
      outline: none;
      border: 1px solid #39cdcc;
    }

    &:invalid {
      border: 1px solid red;
    }
    &::placeholder{
      font-size: 14px;
      color: #545F7D;
      
    }
  }

  .input_error {
    color: red;
    position: absolute;
    top: 68px;
    bottom: 0px;
  }
}
