.button {
  height: 48px;
  border-radius: 8px;
  background-color: #39cdcc;
  color: white;
  font-weight: 600;
  font-size: 14px;
  outline: none;
  border: none;

  &:focus {
    outline: none;
    border: none;
  }

  &:disabled {
    background-color: lighten($color: #39cdcc, $amount: 10%);
  }
}
